{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1 class="mb-4">Découvrez les Facts Chuck Norris</h1>

    <section class="my-3">
        Un petit aléatoire:
        <div class="card bg-secondary text-light my-2">
            <div class="card-body">
                {{ jokeRand|raw }}
            </div>
            <div class="card-footer fs-6 row">
                <div class="col-6">
                    <small>
                        {% set  raterand = random(5) %}
                        {% for i in 0..4 %}
                            <i class="fa-solid fa-star" {{ ( i <= raterand) ? 'style="color: goldenrod"' : '' }}></i>
                        {% endfor %}
                        (<a class="text-light" href="{{ path('joke.show', {id: jokeRand.id}) }}">{{ jokeRand.id }}</a>)
                    </small>
                </div>
                <div class="col-6 text-end">
                    <small>
                    report (soon)
                    </small>
                </div>
            </div>
        </div>
    </section>

    <section class="my-3">
        Dernière ajouté:
        {% for joke in jokes %}
            <div class="card bg-secondary text-light my-2">
                <div class="card-body">
                    {{ joke|raw }}
                </div>
                <div class="card-footer fs-6 row">
                    <div class="col-6">
                        <small>
                            {% set  raterand = random(5) %}
                            {% for i in 0..4 %}
                            <i class="fa-solid fa-star" {{ ( i <= raterand) ? 'style="color: goldenrod"' : '' }}></i>
                            {% endfor %}
                            (<a class="text-light" href="{{ path('joke.show', {id: joke.id}) }}">{{ joke.id }}</a>)
                        </small>
                    </div>
                    <div class="col-6 text-end">
                        <small>
                            report (soon)
                        </small>
                    </div>
                </div>
            </div>
        {% endfor %}
    </section>
</div>
{% endblock %}
