{% extends 'admin/_part/_main.html.twig' %}

{% block title %}Hello AdminJokesController!{% endblock %}

{% block adminmain %}
    <form class="d-flex" action="{{ path('admin.jokes') }}" method="get">
        <input class="form-control me-2 w-50" name="search" type="search" placeholder="Chercher un Fact" aria-label="Search" value="{{ (SearchTerms != '') ? SearchTerms : '' }}">
        <button class="btn btn-outline-light px-5" type="submit">Rechercher</button>
    </form>
    <div>
        <small>
            {{ jokes.getTotalItemCount }} résultats ({{ execTime }} seconde{{ (execTime > 1 ) ? 's' : '' }})
        </small>
    </div>
    <table class="table table-dark table-hover w-100">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Joke</th>
            <th scope="col">Score</th>
            <th scope="col">vote</th>
            <th scope="col">Created</th>
            <th scope="col">Updated</th>
        </tr>
        </thead>
        <tbody>
        {% for joke in jokes %}
            <tr>
                <th scope="row">{{ joke.id }}</th>
                <td><a href="{{ path('admin.jokes.show', { 'id': joke.id}) }}"
                       class="text-white text-decoration-none">{{ joke.joke }}</a></td>
                <td>{{ joke.RatingScore|round(2, 'floor') }}</td>
                <td>{{ joke.jokesRatings|length }}</td>
                <td>{{ joke.createdAt|date("m/d/Y") }}</td>
                <td>{{ ( joke.updatedAt != null ? joke.updatedAt|date("m/d/Y") : "" ) }}</td>

            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="d-flex my-4">
        {{ knp_pagination_render(jokes) }}
    </div>
{% endblock %}
