<div class="card bg-secondary text-light my-2">
    <div class="card-body">
        {{ joke|raw }}
    </div>
    <div class="card-footer fs-6 row">
        <div class="col-8 js-rating">
            {% for i in 1..5 %}
                <a href="{{ path('joke.rating', { 'id': joke.id, 'rate': i }) }}"><i class="fas fa-star" {{ ( i <= joke.RatingScore) ? 'style="color: goldenrod"' : 'style="color: white"' }}></i></a>
            {% endfor %}
            <span class="js-count-rating">({{ joke.jokesRatings|length }})</span> - <a class="text-light" href="{{ path('joke.show', {id: joke.id}) }}">#{{ joke.id }}</a> <span class="rating-msg"></span>
        </div>
        <div class="col-4 text-end">
            <small>

                <!-- Button trigger modal -->
                <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#Modal">
                    report
                </button>

                <!-- Modal -->
                <div class="modal fade" id="Modal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content bg-dark">
                            <div class="modal-header bg-primary border-secondary">
                                <h5 class="modal-title" id="ModalLabel">Modal title</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                ...
                            </div>
                            <div class="modal-footer border-secondary">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>

            </small>
        </div>
    </div>
</div>