{% extends 'base.html.twig' %}

{% block title %}Rechercher - {% endblock %}

{% block description %}Rechercher des Chuck Norris Facts avec notre petit moteur de recherche, en Français.{% endblock %}

{% block body %}

<section>
    <h1 class="mb-3">Recherche de facts sur Chuck norris</h1>

    <form class="d-flex" action="{{ path('search') }}" method="get">
        <input class="form-control me-2" name="search" type="search" placeholder="Chercher un Fact" aria-label="Search" value="{{ (SearchTerms != '') ? SearchTerms : '' }}">
        <button class="btn btn-outline-light px-5" type="submit">Rechercher</button>
    </form>
    <div>
        <small>
            {{ jokes.getTotalItemCount }} résultats ({{ execTime }} seconde{{ (execTime > 1 ) ? 's' : '' }})
        </small>
    </div>
    <div class="d-flex my-3">
        {{ knp_pagination_render(jokes) }}
    </div>

    {% for joke in jokes %}
        {% include '_part/_jokecard.html.twig' %}
    {% endfor %}
    <div class="d-flex my-4">
        {{ knp_pagination_render(jokes) }}
    </div>
</section>
{% endblock %}
