{% extends 'base.html.twig' %}

{% block description %}Consulter toutes Chuck Norris Facts du site, en Français.{% endblock %}

{% block title %}Toutes les Facts{% endblock %}

{% block body %}
<section>
    <h1 class="mb-4">Chuck Noris Facts</h1>

    <div class="d-flex my-3">
        {{ knp_pagination_render(jokes) }}
    </div>

    {% for joke in jokes %}
        <div class="card bg-secondary text-light my-2">
            <div class="card-body">
                {{ joke.joke|raw }}
            </div>
            <div class="card-footer fs-6 row">
                <div class="col-6">
                    {% set  raterand = random(5) %}
                    {% for i in 0..4 %}
                        <i class="fa-solid fa-star" {{ ( i <= raterand) ? 'style="color: goldenrod"' : '' }}></i>
                    {% endfor %}
                    ({{ random(250)}}) - <a class="text-light" href="{{ path('joke.show', {id: joke.id}) }}">#{{ joke.id }}</a>
                </div>
                <div class="col-6 text-end">
                    <small>
                        report (soon)
                    </small>
                </div>
            </div>
        </div>
    {% endfor %}
    <div class="d-flex my-4">
        {{ knp_pagination_render(jokes) }}
    </div>

</section>
{% endblock %}
