{% extends 'base.html.twig' %}

{% block description %}Découvrez la Fact n°{{ joke.id }} sur Chuck Norris Facts en Français. {{ joke|raw|u.truncate(64, '...', false) }}{% endblock %}

{% block title %}le Fact n° {{ joke.id }} {% endblock %}

{% block body %}
    <section>
        <h1 class="mb-4">Chuck Noris Fact <small>({{ joke.id }})</small></h1>

            <div class="card bg-secondary text-light my-2">
                <div class="card-body">
                    {{ joke|raw }}
                </div>
                <div class="card-footer fs-6 row">
                    <div class="col-6">
                        {% set  raterand = random(5) %}
                        {% for i in 0..4 %}
                            <i class="fa-solid fa-star" {{ ( i <= raterand) ? 'style="color: goldenrod"' : '' }}></i>
                        {% endfor %}
                        ({{ random(250)}}) - <a class="text-light" href="{{ path('joke.show', {id: joke.id}) }}">#{{ joke.id }}</a>
                    </div>
                    <div class="col-6 text-end">
                        <small>
                            report (soon)
                        </small>
                    </div>
                </div>
            </div>

    </section>
{% endblock %}
