{% extends 'base.html.twig' %}

{% block title %}API Info{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<section>
    <h1 class="text-center my-3">API utilisation info:</h1>

    <div class="border border p-2 my-3">
        <div class="mx-0 mx-lg-5 my-3">
        Récupérez un Fact aléatoire au format JSON.
        </div>
        <div class="mx-0 mx-lg-5 my-2 p-3 border-info bg-info">
            <kbd>GET</kbd> <a class="ms-2 font-monospace" href="{{ app.request.getSchemeAndHttpHost() }}/api/rand">{{ app.request.getSchemeAndHttpHost() }}/api/rand</a>
        </div>

        <div class="mx-0 mx-lg-5 my-2 border border-3 rounded border-info bg-secondary  font-monospace fs-6"><div class="p-3">{{ rand_json|replace({'{': "{\n", "}" : "\n}", ',"' : ',\n"'})|nl2br }}</div></div>
    </div>


    <div class="border border p-2 my-3">
        <div class="mx-0 mx-lg-5 my-3">
            Récupérez un Fact spécifique au format JSON depuis son ID.
        </div>
        <div class="mx-0 mx-lg-5  my-2 p-3 border-info bg-info d-flex">
            <kbd>GET</kbd> <a class="ms-2 font-monospace" href="{{ app.request.getSchemeAndHttpHost() }}/api/joke/{{ one_numb }}">{{ app.request.getSchemeAndHttpHost() }}/api/joke/{id}</a><span class="ms-auto font-monospace">{id}=<input type="text" style="width: 5ch" value="{{ one_numb }}" maxlength="4" disabled></span>
        </div>

        <div class="mx-0 mx-lg-5  my-2 border border-3 rounded border-info bg-secondary  font-monospace fs-6"><div class="p-3">{{ one_json|replace({'{': "{\n", "}" : "\n}", ',"' : ',\n"'})|nl2br }}</div></div>
    </div>
</section>
{% endblock %}
